.experience {
  margin-top: 8rem;
  height: 50vh;
}
.experience > h1,
.experience > h3 {
  text-align: center;
  color: var(--color-light);
}

.experience_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__content {
  display: flex;
  flex-direction: row;
  padding: 1rem 16rem;
  gap: 2rem;
}

/* RESPONSIVE*/
/* Medium devices */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* Small devices */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
